.phone {
  background-color: var(--color-white);
  height: 60px;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}
.phone--error {
  border: 1.5px solid var(--color-error);
}

.phone__country-toggle {
  align-items: center;
  height: 100%;
  padding-inline-start: 20px;
  cursor: pointer;
  gap: 8px;
}

.phone__input {
  width: 100%;
  flex: 1;
  outline: 0;
}

.phone__input-invalid {
  border: 1.5px solid var(--color-error);
  color: var(--color-error);
}

.phone-countries__root {
  margin-top: 6px;
  background-color: var(--color-white);
  width: 100%;
  z-index: 999;
  height: auto;
  overflow: auto;
  border-radius: 4px;
  position: absolute;
  border: 1px solid var(--color-border);
  max-height: 20rem;
}

.phone-countries__input {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--color-border);
  outline: 0;
  height: 44px;
  font-size: 16px;
}
