.footer {
  background: var(--color-brown);
  color: var(--color-white);
}

.footer-icons__btn {
  background: var(--color-white);
  border-radius: 50%;
  height: 28px;
  min-width: 28px;
  padding: 0;
  transition: all 200ms ease-in-out;
}

.footer-icons__btn svg {
  height: auto;
  width: auto;
  color: var(--color-black);
  transition: all 200ms ease-in-out;
}

.footer-icons__btn:hover {
  background: var(--color-light-brown);
  padding: 0;
  min-width: 28px;
  height: 28px;
}

.footer-icons__btn:hover svg {
  color: var(--color-white);
}
