@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/Avenir_LT_Std_65_Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Big Caslon";
  src: url("/fonts/Big_Caslon_Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  --font-avenir: "Avenir LT", sans-serif;
  --font-bigcaslon: "Big Caslon", serif;

  --color-brown: #5a3a27;
  --color-light-brown: #ad704c;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #e8e9e9;
  --color-border-dark: #383c3e;
  --color-text-100: #667085;
  --color-text-200: #565759;
  --color-text-900: #1d1f22;
  --color-placeholder: #999999;
  --color-green: #006f62;
  --color-error: #b3261e;
  --color-select-active: #f9fafb;
  --color-select-text: #101828;

  background: #f7f7f7;
  color: var(--color-black);
}

/** Animations **/
.animate-link-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.animate-link-underline::after {
  background-color: var(--color-light-brown);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
  width: 100%;
}

.animate-link-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
