.checkbox__control {
  background: var(--color-white);
  border: 1px solid var(--color-border-dark);
  height: 16px;
  width: 16px;
  margin-bottom: 2px;
}
.checkbox__control:is([data-state="checked"], [data-state="indeterminate"]) {
  background: var(--chakra-colors-color-palette-solid);
}
